<div class="custom-form">
    <form action="/action_page.php">
        <label for="InputName">Name</label>
        <input type="text" name="name" class="form-control" id="InputName" placeholder="Enter your name" required="required">
    
        <label for="InputEmail1" required="required"> Email address</label>
    <input type="email" name="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email ">
    
        <label for="Inputmessage">Feedback/Message/Suggestion </label>
        <textarea class="form-control" name="message" id="InputName" rows="3"></textarea>

        <input type="submit" value="Submit">
      </form>
</div>




<!-- form accept-charset="UTF-8" action="https://getform.io/f/f86d0d24-5ad8-41ec-aa8b-69b22fdbcb45" method="POST" enctype="multipart/form-data" target="_blank">
    
    <label for="InputEmail1" required="required"> Email address</label>
    <input type="email" name="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email ">
    </br>
    
    </br>
    <button type="submit"> Submit </button>
</form -->
<!--
    <label for="exampleInputphone1" >Phone no</label>
    <input type="tel" name="phone" class="form-control" id="exampleInputphone1" aria-describedby="phoneHelp" placeholder="Enter Phone No ">
-->