<!-- Light Gallery-->

<script src="{{ "/assets/lightgallery/js/lightgallery.min.js" | relative_url }}"></script>  
  
<!-- lightgallery plugins -->
<script src="{{ "/assets/lightgallery/js/lg-thumbnail.min.js" | relative_url }}"></script>  
<script src="{{ "/assets/lightgallery/js/lg-fullscreen.min.js" | relative_url }}"></script>   
<script src="{{ "/assets/lightgallery/js/lg-zoom.min.js" | relative_url }}"></script> 
<script src="{{ "/assets/lightgallery/js/lg-autoplay.min.js" | relative_url }}"></script> 
<script src="{{ "/assets/lightgallery/js/lg-hash.min.js" | relative_url }}"></script> 